.App {
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: darkslategray;
  color: whitesmoke;
  padding: 2rem;
}

.App-main {
  padding: 5rem;
}

footer {
  background-color: darkslategray;
  padding: 2rem;
  text-align: center;
}

a {
  color: whitesmoke;
  margin: 1rem;
}